:root {
  --light-white: #FFFFF7;
  --background-white: #f9f9f9;
  --base-black: #232323;
  --base-pink: #F8F0FB;
  --main: #7361FF;
  --main-transperent: #f5f0ff;
  --accent: #6320EE;

  --inactive: #00000040;
  --error: #9D292C;

  --swiper-theme-color: #1E4BD2 !important;
}