@font-face {
  font-family: 'AKONY';
  src: url('/assets/fonts/AKONY.woff2') format('woff2'),
  url('/assets/fonts/AKONY.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Medium.woff2') format('woff2'),
  url('/assets/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('/assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}